<div class="login-page">
  <div class="form">
    <form class="login-form">

      <h1>Загрузить свои вопросы</h1>
      <div style="width: 100%; height: 20px"></div>

      <div>
        <h3>Математика</h3>
        <input type="text"
               #mathQ
               min=0
               placeholder="вопрос по математике">
        <input type="text"
               #mathA
               min=0
               placeholder="ответ по математике">

      </div>

      <div>
        <h3>История</h3>
        <input type="text"
               #historyQ
               min=0
               placeholder="вопрос по истории">
        <input type="text"
               #historyA
               min=0
               placeholder="ответ по истории">
      </div>

      <div>
        <h3>Информатика</h3>
        <input type="text"
               #infQ
               min=0
               placeholder="вопрос по итформатике">
        <input type="text"
               #infA
               min=0
               placeholder="ответ по информатике">
      </div>

      <button (click)="onClick(mathQ.value, mathA.value, historyQ.value,
                               historyA.value, infQ.value, infA.value)">Загрузить</button>

    </form>
  </div>
</div>
