<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="username" #myUserName>
      <input type="password" placeholder="password" #myPassword>
      <button (click)="onClick(myUserName.value, myPassword.value)">login</button>
      <p class="message">Not registered? <a routerLink="/registration">Create an account</a></p>
    </form>
  </div>
</div>
