<div class="login-page">
  <div class="form">
    <form class="login-form">

      <h3>{{sec.title}}</h3>

      <table class="table">
        <thead>
        <tr>
          <th>Вопрос</th>
          <th>ответ</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let qu of sec.questions">
          <td style="width: 50%">{{ qu.question }}</td>
          <td style="width: 50%">{{ qu.answer }}</td>
        </tr>
        </tbody>
      </table>


    </form>
  </div>
</div>
