<div class="login-page">
  <div class="form">
    <form class="login-form">


      <div style="float: left; width: 50%">

        <div>
          <h3>Математика</h3>
          <input type="number"
                 [(ngModel)]="mathQ"
                 [ngModelOptions]="{standalone: true}"
                 min=0
                 placeholder="Колличество вопросов по математике">

        </div>

        <div>
          <h3>История</h3>
          <input type="number"
                 [(ngModel)]="historyQ"
                 [ngModelOptions]="{standalone: true}"
                 min=0
                 placeholder="Колличество вопросов по истории">
        </div>

        <div>
          <h3>Информатика</h3>
          <input type="number"
                 [(ngModel)]="infQ"
                 [ngModelOptions]="{standalone: true}"
                 min=0
                 placeholder="Колличество вопросов по истории">
        </div>

        <button (click)="downloadQuestions()">Загрузить</button>

        <div style="width: 100%; height: 20px"></div>

        <app-add-component></app-add-component>

      </div>

      <div style="float: left; width: 50%">
        <div *ngFor="let sec of exam.sections">
          <app-section-model [sec]="sec" ></app-section-model>
        </div>
      </div>

      <div *ngIf="!isLogin()">
        <h1 style="color: #EF3B3A"> Вы не авторизованный пользователь </h1>
      </div>


    </form>
  </div>
</div>
