<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="username" #myUsername>
      <input type="password" placeholder="password" #myPassword>
      <button (click)="onClick(myUsername.value, myPassword.value)">Registration</button>
      <p class="message">Already registered? <a routerLink="/auth">Sign In</a></p>
      <div *ngIf="visibleError">
        <h3>Пользователь с данным логином существует</h3>
      </div>
    </form>
  </div>
</div>

