header{
  text-align: left;
  position: relative;
  --left-gutter: 28px;
  float: left;
  width: 100%;
  background: #76B852FF;
  height: 70px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  max-height: 55px;
  text-align: center;
  flex-grow: 1;
  position: relative;
  float: left;
  display: inline-block; /* Строчно-блочный элемент */
  background: #ffffff; /* Серый цвет фона */
  color: #8DC26FFF; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
  margin: 8px;
}

.btn_out {
  max-height: 55px;
  text-align: center;
  flex-grow: 1;
  position: relative;
  float: left;
  display: inline-block; /* Строчно-блочный элемент */
  background: #e13838; /* Серый цвет фона */
  color: #ffffff; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
  margin: 8px;
}

.left{
  flex-grow: 30;
  padding: 1rem 1.5rem;
}
