<div id = "wrap">
  <header>
    <div>
      <img style="max-height: 80px; padding-left: 5px" src="https://psv4.userapi.com/c237231/u519721220/docs/d13/23b2bffee7a2/logo.png?extra=uVTvfYKSoo29FV9Y3ypaNG3rcn2AEzFiDGtnBUdtlt2bpA75dITPQnFb8rwyzMPhBZ0LQ8PIqV4A6AkKU_p9OnlXbc549J8cFsOwN4WELHFdSuuoysd0xcXfRpyj359GLyjMcxcu64vIko1fu3zyyKIkFg" alt="Нету">
    </div>
    <div class="left" ></div>
    <a class="btn" routerLink="/auth">{{getUserName()}}</a>
    <a *ngIf="getIsLogin()" class="btn_out" routerLink="/out">Выйти</a>
  </header>
</div>

<router-outlet></router-outlet>

